<div class="bg">
    <br />
    <br />
    <div class="container">
        <h1>Welcome to our contact page, <a [routerLink]="['/main-page']" class="btn btn-primary" role="button">back To
            main Page</a></h1>
        <br />
        <br />

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm 4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/cont.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Connect With Us</h5>
                        <p class="card-text">For support or any question: <br />
                            Email us at support@YrentalCars.com</p>

                    </div>
                </div>
            </div>
            <div class="col-sm 4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/herz.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Yreantal Herzeliya</h5>
                        <p class="card-text">
                            Adress: 603 Ben Gurion street<br />
                            Open Hours: 07 AM Till 23:00 PM<br />
                            Phone: +972-3-504-7832

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm 4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/tlv.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Yreantal Tel Aviv</h5>
                        <p class="card-text">
                            Adress: 48 Rotchild street <br />
                            Open Hours: 07 AM Till 22:00 PM<br />
                            Phone: +972-3-504-7462

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>