
<div class="container">

    <h1>welcome to Get Car page, <a [routerLink]="['/main-page']" class="btn btn-primary" role="button">back To
            main Page</a></h1>
    <h3>please fill all Order details below:</h3>
    <form>
        <hr class="style2">
        <h5>Car Description:</h5>
        <div class="form-row">
       
            <div class="form-group col-md-1">
                <label for="manufactor">Car ID</label>
                <input class="form-control" type="text" #T1  placeholder="{{chosenCarId}}" readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="manufactor">Car Type</label>
                <input class="form-control" type="text" #T1  placeholder="{{carType}}" readonly>
            </div>

            <div class="form-group col-md-2">
                <label for="manufactor">Car Number</label>
                <input class="form-control" #T3 type="text"  placeholder="{{CarNumberFromId}}" readonly>
            </div>

            <div class="form-group col-md-2">
                <label for="manufactor">Manufactor Name</label>
                <input class="form-control" type="text"  placeholder="{{manufactor}}" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="model">Model</label>
                <input class="form-control" type="text" placeholder="{{model}}" readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="productionYear">Year</label>
                <input class="form-control" type="text" placeholder="{{productionYear}}" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="gear">Gear</label>
                <input class="form-control" type="text" placeholder="{{gear}}" readonly>
            </div>
        </div>
        <hr class="style2">
        <h5>User Description:</h5>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="car Car_Type_ID">User Id</label>
                <input class="form-control" type="text" placeholder="{{ChoosenUser}}" readonly>
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">User Name Details</label>
                <input class="form-control" type="text" placeholder="{{UserName}}" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Password Details</label>
                <input class="form-control" type="text" placeholder="{{password}}" readonly>
            </div>
            <div class="form-group col-md-5">
                <label for="inputPassword4">User Picture</label>
                <div>
                     <img src="data:image/jpeg;base64,{{picture}}">
                </div>  
            </div>
        </div>
        <hr class="style2">
        <h5>Dates and Cost Description:</h5>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="daterangepicker">Please Choose Dates Range To Hire</label>
                <ejs-daterangepicker id='daterangepicker' placeholder='Select a range'  [(startDate)]='start'  [(endDate)]='end' (change)="onChangeHireDate()"></ejs-daterangepicker>
            </div>
            <div class="form-group col-md-1">
    
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Total Number of Days</label>
                <input class="form-control" #T4 type="text" placeholder="{{NumberOfDays ? NumberOfDays : 1}}" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Price Per Day</label>
                <input class="form-control" #T5 type="text" placeholder="{{PricePerDay}}" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Estimate Cost</label>
                <input class="form-control"  #T6 type="text" placeholder="{{totalCost ? totalCost : PricePerDay}}" readonly>
            </div>
        </div>
<hr class="style2">
        <h5>More Info:</h5>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputPassword4">Number Of Delay</label>
                <input class="form-control" #T7 type="text" placeholder="0" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Price Per Delay Day</label>
                <input class="form-control" #T8 type="text" placeholder="{{priceDelay}}" readonly>
            </div>
        </div>
        <hr class="style2">
        <div class="form-row">
            <div class="form-group col-md-2">
                <h6><u>Total Reservation Cost</u></h6>
                <input class="form-control" #T9 type="text" placeholder="{{totalCost ? totalCost : PricePerDay}}" readonly>
            </div>
        </div>

        <button type="submit" (click)="AddOrder()" class="btn btn-primary">Add Order</button>
    </form>
</div>



