

tr:nth-child(even){
    background-color:#fff;
}
tr:nth-child(odd){
    background-color:#ccc;
}

*{
    text-align: center;
}

table{
    border: 5x ;
    padding: 4px;
    margin: 7px;
    
}
th{
    text-align: center;
    background-color: hsl(46, 64%, 61%);
    padding: 10px;
}

.pic{
    max-width: 150px;
}