<div class="container">

    <h1>welcome to the Update page, <a [routerLink]="['/admin']" class="btn btn-primary" role="button">back To
            admin  Page</a></h1>
    <h3>please fill all details below:</h3>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">new First Name</label>
                <input type="text" class="form-control" #T1 placeholder="First name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">new Last Name</label>
                <input type="text" class="form-control" #T2 placeholder="last name">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">please fill your new Birthday</label>
                <input type="date" class="form-control" #T4 placeholder="id number">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Please fill your new Email</label>
                <input type="text" class="form-control" #T5 placeholder="Email">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">please fill your new User Name</label>
                <input type="text" class="form-control" placeholder="User Name" #T6>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Please fill your new Password</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Password" #T7>
            </div>
        </div>


         <h4>User new Picture Upload</h4>

        <div class="form-row">
  
            <div class="form-group col-md-6">
            <input type="file" (change)="UploadImage($event)">


            </div>
              <div class="form-group col-md-6">
                <div class="form-group">
                    <div class="col-sm-6">
                          <label class="row">new Gender:</label>
                        <label  class="radio-inline">
                            <input name="gender"   value="Male" type="radio" [(ngModel)]="myRadioGENDER"/>Male
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="radio-inline">
                            <input name="gender"   value="Female" type="radio" [(ngModel)]="myRadioGENDER" />Female
                        </label>
                    </div>
                </div>
            </div>
        </div>


        
        
        <button (click)="UpdateUser(T1.value,T2.value, T4.value,T5.value,T6.value,T7.value)"  type="submit" class="btn btn-primary">Update</button>
    </form>

</div>
